*{
    color:var(--continuos-white);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  form{    
    margin-top: 2%;
    
  }

   #Cadastrar{
    background-color: var(--primary);
    border:none;
    color: var(--white);
  }

  .Fundo_verde{
    padding-top: 4%;
    color: var(--white);
    background-color: var(--secondary);
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }
  .Fundo_verde h1{
    font-size: 25px;
    margin-bottom: 5%;
  }

  #formulario{
    width: 70%;
    margin-left: 10%;
  }

  .Fundo_verde h2{
    font-weight:bold;
  }

  .Fundo_verde input{
    color: var(--white);
    font-size: 150%;
    margin-right: 2%;
    border-color: var(--secondary);
  }

  
  .Fundo_verde input[type=checkbox]{
    margin-right: 0.5%;
    padding: 0;
    height: 12px;
  }

  .Fundo_verde label{
    font-size: 16px;
    margin-right: 2%;
    font-family:Arial, Helvetica, sans-serif;
    
  }
 
     mat-form-field + mat-form-field{
  margin-left: 2%;

  }

 input{
  color: var(--white);
}

