
<div class="container-blogs">

  <div class="leftcolumn">
    <!--Post 1-->
    <div class="card">
      <div class="post-title">
        <h2>Sistema para Divulgar pessas desaparecidas e cadastrar voluntarios</h2>
      </div>

      <div class="post-info">
        <h3>Autor: Josefino</h3>
        <div class="tag">
          <p class="tag-item">Anuncio</p>
        </div>
      </div>

      <div class="post-description">
        <h3 class="description">Primeiro post do Radar</h3>
        <div class="data">
          <h3>Dec 7, 2017</h3>
        </div>
      </div>

      <hr class="line">

      <div class="post-img">
        <img src="https://s4.static.brasilescola.uol.com.br/be/2021/05/cidade-sp.jpg">
      </div>
      
      <div class="post-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis amet similique harum reprehenderit, tempora excepturi possimus rerum! Enim, culpa quo at placeat, fugiat, veniam incidunt sint harum quod cum earum.
        Molestiae, doloremque. Itaque, explicabo perspiciatis! Tenetur nulla obcaecati praesentium ipsam deleniti, maxime culpa ex nisi commodi illum quam nemo quia pariatur exercitationem architecto provident quaerat deserunt suscipit et earum veritatis?
        Nesciunt libero sapiente fugit id, accusantium distinctio blanditiis laboriosam, odio illum voluptates porro perferendis perspiciatis beatae enim ipsum, dolor alias unde nisi vel aliquam rem! Itaque nisi facere deserunt eaque?
        Doloremque temporibus corporis cumque eaque rerum aspernatur sed tenetur, provident sequi error magni expedita quia natus eos, ratione nihil itaque. Laboriosam illum aut dolorum ipsa accusamus necessitatibus, modi quae quidem!
        Facilis a mollitia facere totam nemo, numquam similique nulla hic eius saepe veniam voluptate doloribus tempora excepturi ratione nisi aliquid itaque, quam incidunt reiciendis perspiciatis nobis aspernatur amet? Molestiae, non?
        Unde velit natus et nobis commodi rem quibusdam fugiat, ipsa maiores maxime harum quidem tempora dolore consequatur praesentium porro hic nam in voluptatem numquam adipisci explicabo! Sint eum earum maiores.
        Minus dolore culpa totam aut modi soluta dicta, explicabo, doloribus beatae quae, atque fugiat eligendi distinctio quisquam in repudiandae sint libero exercitationem sit repellendus ipsa. Quam molestiae magni impedit assumenda?
        Eius ex, quod corporis laudantium, consequatur veniam enim voluptates ab voluptatum minima eligendi ullam autem dolorem ad voluptas. Excepturi repellendus reiciendis deleniti necessitatibus dolore voluptatum animi praesentium deserunt itaque nulla?
        Amet suscipit accusantium dolorem recusandae fugiat inventore consequuntur. Aliquam odio numquam deleniti ut corrupti vero, dignissimos magnam ducimus labore natus consectetur, voluptates, sequi nemo voluptas. Ex vitae distinctio provident architecto?
        Tenetur doloribus distinctio minus praesentium corporis. Nobis placeat excepturi ut cumque reprehenderit esse sit quae magni autem voluptatum mollitia doloribus, soluta totam omnis sint officiis sunt hic. Voluptate, officiis eum.</p>        
      </div>

      <hr class="line">

      <!-- write comment -->
      <form class="post-comment" #commentForm="ngForm" >
        <div>
          <input type="text" required  name="comment" class="form-control" placeholder="Write comment...">
          <!--<small class="text-danger" >
              <i class="fa fa-exclamation-triangle me-1" aria-hidden="true"></i> Comentario não pode estar vazio!
          </small>
          <small class="text-danger">
              <i class="fa fa-exclamation-triangle me-1" aria-hidden="true"></i> Erro ao postar o comentario
          </small>
          <small class="text-success">
              <i class="fa fa-check me-1" aria-hidden="true"></i> Comentario postado!
          </small>-->
        </div>
      </form>

      <!-- blogs comments -->
      <div class="comment-section">

        <div class="comment-item">
          <div class="img">
            <img src="https://media.npr.org/assets/img/2021/09/28/gettyimages-1212850264-3a49e3799da51192512a00ed0161f7065964bfe1-s1100-c50.jpg" alt="Foto do usuario que comentou">
          </div>
          <div class="comment-data">
            <div class="comment-author">
              <h3>Ednaldo Pereira</h3>
              <p>18:09</p>
            </div>
            <div class="comment-body">
              <p>Muito Bom!</p>
            </div>            
          </div>
        </div>

        <div class="comment-item">
            <div class="img">
              <img src="https://media.npr.org/assets/img/2021/09/28/gettyimages-1212850264-3a49e3799da51192512a00ed0161f7065964bfe1-s1100-c50.jpg" alt="Foto do usuario que comentou">
            </div>
            <div class="comment-data">
              <div class="comment-author">
                <h3>Ednaldo Pereira</h3>
                <p>18:09</p>
              </div>
              <div class="comment-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam officiis neque, deleniti sit rerum ullam. Unde provident, deserunt vero reprehenderit sint totam vel dicta quia laudantium, numquam, similique aut?.</p>
              </div>              
            </div>
        </div>

      </div>
    </div> <!--End post 1-->

    <!--Post 2-->
    <div class="card">
      <div class="post-title">
        <h2>Sistema para Divulgar pessas desaparecidas e cadastrar voluntarios</h2>
      </div>
      <div class="post-info">
        <h3>Autor: Josefino</h3>
        <div class="tag">
          <p class="tag-item">Anuncio</p>
          <p class="tag-item">Anuncio</p>
        </div>
      </div>
      <div class="post-description">
        <h3>Primeiro post do Radar</h3>
        <div class="data">
          <h3>Dec 7, 2017</h3>
        </div>
      </div>
      <hr class="line">
      <div class="post-img">
        <img src="https://s4.static.brasilescola.uol.com.br/be/2021/05/cidade-sp.jpg">
      </div>
      <div class="post-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis amet similique harum reprehenderit, tempora excepturi possimus rerum! Enim, culpa quo at placeat, fugiat, veniam incidunt sint harum quod cum earum.
        Molestiae, doloremque. Itaque, explicabo perspiciatis! Tenetur nulla obcaecati praesentium ipsam deleniti, maxime culpa ex nisi commodi illum quam nemo quia pariatur exercitationem architecto provident quaerat deserunt suscipit et earum veritatis?
        Nesciunt libero sapiente fugit id, accusantium distinctio blanditiis laboriosam, odio illum voluptates porro perferendis perspiciatis beatae enim ipsum, dolor alias unde nisi vel aliquam rem! Itaque nisi facere deserunt eaque?
        Doloremque temporibus corporis cumque eaque rerum aspernatur sed tenetur, provident sequi error magni expedita quia natus eos, ratione nihil itaque. Laboriosam illum aut dolorum ipsa accusamus necessitatibus, modi quae quidem!
        Facilis a mollitia facere totam nemo, numquam similique nulla hic eius saepe veniam voluptate doloribus tempora excepturi ratione nisi aliquid itaque, quam incidunt reiciendis perspiciatis nobis aspernatur amet? Molestiae, non?
        Unde velit natus et nobis commodi rem quibusdam fugiat, ipsa maiores maxime harum quidem tempora dolore consequatur praesentium porro hic nam in voluptatem numquam adipisci explicabo! Sint eum earum maiores.
        Minus dolore culpa totam aut modi soluta dicta, explicabo, doloribus beatae quae, atque fugiat eligendi distinctio quisquam in repudiandae sint libero exercitationem sit repellendus ipsa. Quam molestiae magni impedit assumenda?
        Eius ex, quod corporis laudantium, consequatur veniam enim voluptates ab voluptatum minima eligendi ullam autem dolorem ad voluptas. Excepturi repellendus reiciendis deleniti necessitatibus dolore voluptatum animi praesentium deserunt itaque nulla?
        Amet suscipit accusantium dolorem recusandae fugiat inventore consequuntur. Aliquam odio numquam deleniti ut corrupti vero, dignissimos magnam ducimus labore natus consectetur, voluptates, sequi nemo voluptas. Ex vitae distinctio provident architecto?
        Tenetur doloribus distinctio minus praesentium corporis. Nobis placeat excepturi ut cumque reprehenderit esse sit quae magni autem voluptatum mollitia doloribus, soluta totam omnis sint officiis sunt hic. Voluptate, officiis eum.</p>        
      </div>

      <hr class="line">

      <!-- write comment -->
      <form class="post-comment" #commentForm="ngForm" >
        <div>
          <input type="text" required  name="comment" class="form-control" placeholder="Write comment...">
          <!--<small class="text-danger" >
              <i class="fa fa-exclamation-triangle me-1" aria-hidden="true"></i> Comentario não pode estar vazio!
          </small>
          <small class="text-danger">
              <i class="fa fa-exclamation-triangle me-1" aria-hidden="true"></i> Erro ao postar o comentario
          </small>
          <small class="text-success">
              <i class="fa fa-check me-1" aria-hidden="true"></i> Comentario postado!
          </small>-->
        </div>
      </form>

      <!-- blogs comments -->
      <div class="comment-section">

        <div class="comment-item">
          <div class="img">
            <img src="https://media.npr.org/assets/img/2021/09/28/gettyimages-1212850264-3a49e3799da51192512a00ed0161f7065964bfe1-s1100-c50.jpg" alt="Foto do usuario que comentou">
          </div>
          <div class="comment-data">
            <div class="comment-author">
              <h3>Ednaldo Pereira</h3>
              <p>18:09</p>
            </div>
            <div class="comment-body">
              <p>Muito Bom!</p>
            </div>            
          </div>
        </div>

      </div>

    </div> <!--End post 2-->

  </div> <!--End Left Column-->

  <div class="rightcolumn">
    <app-category></app-category>
  </div>

</div>