<div class="container blogSection">
  <div class="row py-5">

      <div class="col-md-9 col-12 mb-2">

          <div class="row" >


              <nav aria-label="...">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a class="page-link"> 1 </a>
                        <a class="page-link"> 2 </a>
                        <a class="page-link"> 3 </a>
                      </li>
                  </ul>
                </nav>

              <!-- blogs -->
              <div class="row">

                <div class="col-md-4 col-12">
                    <div class="card blogs" style="width: 100%;">
                        <div class="img">
                            <img src="https://s4.static.brasilescola.uol.com.br/be/2021/05/cidade-sp.jpg" class="card-img-top">
                        </div>

                        <div class="card-body">

                          <h5 class="card-title">
                              <h3>
                              Sistema para Divulgar pessas desaparecidas e cadastrar voluntarios
                            </h3>
                          </h5>

                          <p class="card-text">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Joselino
                            <br>
                            <i class="fa fa-bookmark" aria-hidden="true"></i> Anuncios
                          </p>
                        </div>
                      </div>
                </div>
              </div>
              <!-- blogs -->

          </div>
      </div>

      <div class="col-md-3 col-12">
        <app-category></app-category>
      </div>

  </div>
</div>
