.container{
    display: flex;
    height: 1000px;
    padding-top: 130px;
    margin: 0 !important;
    margin-top:0;
}

.titulo-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    height: 90px;
}

.icon{
    font-size: 2rem;
    color: var(--dark);
}

.icon:hover{
    cursor: pointer;
}

.titulo{
    margin: 0;
    font-size: 2.5rem;
}

.chart-container{
    display: flex;
    flex-wrap: wrap;
    height: 900px;
}

canvas{
    width: 800px !important;
    height:600px !important;
  }