<!--Cabeçalho-->
<mat-toolbar  fxLayout="column" fxLayoutAlign="space-between center" >
    <mat-toolbar-row>
      <span><img mat-card-image class="logo" src="../../../assets/img/Branco.png" ></span>
      <span class="example-spacer"></span>
      <div fxLayout="row" fxLayoutAlign="space-between center" id="Acessibilidade_header">
        <span><img mat-card-image class="icone" src="../../../assets/img/Acessibilidade.png" ></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/Mudar_cor.png" ></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/Amenos.png" ></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/A.png"></span>
      </div>
        <button id="cadastro" routerLink="formulario"  mat-raised-button>Cadastre-se</button>
  </mat-toolbar-row>
  </mat-toolbar>
