* {
  color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#Acessibilidade_header{
  justify-content: center;
  display: flex;
}

#Acessibilidade_header button:hover{
  text-decoration: underline;
}

mat-toolbar {
  background-color: var(--gray);
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar-row #logo {
  width: 80%;
  height: auto;
  margin-top: -5%;
}

.logo-box{
  height: 90px;
  width: 180px;
  display: flex;
  align-items: center;
}


mat-toolbar-row #logo2 {
  display: none;
}

mat-toolbar-row {
  font-size: 1.5rem;
  height: 70px;
}

.example-spacer {
  width: 50%;
}

.grupo_botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastro {
  background-color: var(--gray);
  
}

mat-toolbar-row span {
  margin: 2px;
}

span a {
  color: var(--primary);
}

/*Responsividade*/

@media screen and (min-width: 1024px) {
  mat-toolbar-row {
    font-size: 2rem;
  }

  mat-toolbar-row #logo {
    width: 100%;
    height: 100%;
  }

  #cadastro {
    width: 100%;
    height: auto;
    font-size: 50%;
    text-align: center;
  }
}


@media screen and (max-width: 900px) {
  header {
    width: 100%;
  }

  mat-toolbar-row {
    font-size: 1.5rem;
    height: 100px;
  }

  mat-toolbar-row #logo {
    display: none;
  }

  mat-toolbar-row #logo2 {
    display: flex;
  }

  mat-toolbar-row {
    width: 100%;
  }

  mat-toolbar-row #logo2 {
    width: 100% !important;
    height: auto;
    margin: auto;
  }

  #cadastro {
    height: 50%;
    font-size: 0.5rem;
    text-align: center;
  }


  mat-toolbar-row span {
    margin: 2px;
  }

  #Acessibilidade_header span .button {
    margin: 0;
    padding: 0;
    width: 60%;
  }
}



@media screen and (max-width: 900px) {
  mat-toolbar {
    
     
  }

  mat-toolbar-row {
    width: 100%;
    align-items: none;
    margin-bottom: 1%;
    text-align: center;
  }

  #cadastro {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  mat-toolbar {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-toolbar-row {
    font-size: 1.5rem;
    width: 150px;
  }
   
  .grupo_botao{
    font-size: 1rem;
  }

  .mat-icon-button {
    width: 0;
  }

  #cadastro {
    width: 135px;
    height: auto;
    font-size: 50%;
    text-align: center;
  }
}
