* {
  color: var(--continuos-white);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#Acessibilidade_header{
  justify-content: center;
  display: flex;
  background-color: var(--gray);
}

#Acessibilidade_header span .mat-menu-item{
  text-decoration: underline;
}

#Acessibilidade_header span .mat-menu-item:hover{
  color: var(--primary);
}

mat-toolbar {
  background-color: var(--gray);
}

mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-hamb-container{
  display: none;
}

mat-toolbar-row #logo {
  width: 250px;
  height: 100px;
  margin-top: -5%;
}

.logo-box{
  width: 180px;
}

.logo-box2{
  display: none;
}

mat-toolbar-row {
  font-size: 1.5rem;
  height: 70px;
}

.grupo_botao {
  display: flex;
  align-items: center;
}

.grupo_botao a{
  text-transform: uppercase;
  font-weight: bold;
}

.grupo_botao span {
  margin: 2px;
}

.lista a {
  color: var(--continuos-white);
  font-size: 1rem;
}



.grupo_botao:nth-child(3){
  gap: 1rem;
}

.grupo_botao:nth-child(3) span{
    margin: 0;
}

.lista a {
  margin: 0px;
}

.lista a:hover{
  text-decoration: none;
  filter: brightness(75%);
  transition: 1s;
  text-decoration: underline;
  color: var(--primary);
  transition: 300ms;
}

span .mat-flat-button {
  color: var(--continuos-white);
  background-color: transparent;
  border: var(--primary) solid 0.1rem;
}

span .mat-flat-button:hover{
  background-color: var(--primary);
  color: var(--continuos-white);
  text-decoration: none;
}

/*Responsividade*/

@media screen and (max-width: 900px) {
  header {
    width: 100%;
  }

  mat-toolbar-row {
    font-size: 1.5rem;
  }


  mat-toolbar-row {
    width: 100%;
  }

  mat-toolbar-row #logo2 {
    width: 100% !important;
    height: auto;
    margin: auto;
  }

  mat-toolbar-row span {
    margin: 2px;
  }

  #Acessibilidade_header span .button {
    margin: 0;
    padding: 0;
    width: 60%;
  }
}



@media screen and (max-width: 900px) {
  mat-toolbar {
    
     
  }

  mat-toolbar-row {
    width: 100%;
    text-align: center;
  }

  #cadastro {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .toolbar-acess {
    display: flex;
    align-items: center;
  }

  #Acessibilidade_header{
    display: flex;
  }

  #Acessibilidade_header button{
    font-size: 0.654rem;
  }

  .logo-box{
    display: none;
  }

  .logo-box2{
    display: flex;
    justify-content: space-around;
  }

  .menu-hamb-container{
    display: flex;
    padding: 3px;
    margin-right: 25px;
  }

  .matMenu-container{
    display: flex;
    justify-content: space-around;
  }

  mat-toolbar-row {
    font-size: 1.5rem;
  }

  mat-toolbar-row #logo {
    display: none;
  }

  mat-toolbar-row #logo2 {
    display: flex;
    width: 50px;
    height: 55px;
  }
   
  .grupo_botao{
    display: none;
  }

  .mat-icon-button {
    width: 0;
  }

  #cadastro {
    width: 135px;
    height: auto;
    font-size: 0.9rem;
    text-align: center;
  }
}
