<!--Cabeçalho-->
<header id="topo">
  <mat-toolbar fxFlex  fxLayout="column" fxLayoutAlign="space-between center" >
    <mat-toolbar-row >
      <a routerLink="/home"><img mat-card-image id="logo" src="../../../assets/img/Branco.png" ></a>
      <div fxLayout="row"  id="Acessibilidade_header" fxHide.xs>
        <span><button mat-menu-item routerLink="/acessibilidade" >Acessibilidade</button></span>
        <span><button mat-menu-item (click)="toogle()">{{nome}}</button></span>
        <span><button mat-menu-item (click)="setFontSize('a-')">A-</button></span>
        <span><button mat-menu-item (click)="setFontSize('a')">A</button></span>
        <span><button mat-menu-item (click)="setFontSize('a+')">A+</button></span>
      </div>
      <span><a routerLink="/desaparecidos" id="cadastro" mat-raised-button>Desaparecidos</a></span>
      <span><a routerLink="/formulario" id="cadastro" mat-raised-button>Cadastre-se</a></span>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu" id="menu">
        <ng-container>
          <button mat-menu-item routerLink="/acessibilidade" >Acessibilidade</button>
          <button mat-menu-item (click)="toogle()">{{nome}}</button>
          <button mat-menu-item (click)="setFontSize('a-')">A-</button>
          <button mat-menu-item (click)="setFontSize('a')">A</button>
          <button mat-menu-item (click)="setFontSize('a+')">A+</button>
        </ng-container>
      </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
</header>


