*{
  color: var(--menu);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topo {
    background-color:var(gray);

}

mat-toolbar-row #logo2{
  display: none;
   
 }
#menu {
  background-color: var(gray);
}

mat-toolbar-row{
    font-size: 1.5rem;
    height: 80px;
  }

  mat-toolbar-row #logo{
    width: 80%;
    height: auto;
    display: block;
    margin-top: -5%;
      }

  .example-spacer{
    width: 50%;
  }

  .cadastro{
    width: 100%;
    height: auto;
    font-size: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--primary);
    border:none;
    color: var(--white);
  }

  mat-toolbar{
      background-color: var(--gray);
  }

  #Acessibilidade_header{
  width: 15%;
  margin-left: 220px;
  margin-right: 340px;
}

  mat-toolbar-row span {
    margin: 2px;
  }

  #Acessibilidade_header span .button{
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }

  #atalhos {
    list-style: none;
    padding-left: 2%;
  }

  #atalhos li {
    display: inline;
    margin: 1px;
    font-size: 12px;
}

#atalhos li a {
    color: var(--white);
}

span a{
  color: var(--secondary);
}
/*Responsividade*/
  @media screen and (max-width: 900px) {
    header{
      width: 100%;
    }

mat-toolbar-row{
    font-size: 1.5rem;
    height: 100px;

  }

  mat-toolbar-row #logo{
   display: none;
    
  }
  
  mat-toolbar-row #logo2{
    display: block;
     
   }

  #topo div:nth-child(3){
    display: flex !important;
    flex-direction: column !important;
   }

  mat-toolbar-row{
    width: 100%;
  }

  mat-toolbar-row #logo2{
  width: 100% !important;
  height: auto;
  margin: auto;
  
}
  
  #cadastro{
    width: 5rem;
    height: 50%;
    font-size: 0.5rem;
    text-align: center;
  }

  .example-spacer{
  position: absolute;
  }

  #Acessibilidade_header{
  width: 15%;
  margin-left: 220px;
  margin-right: 340px;
}

  mat-toolbar-row span {
    margin: 2px;
  }

  #Acessibilidade_header span .button{
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
 
  mat-toolbar-row{
      font-size: 2rem;
    }
  
    mat-toolbar-row #logo{
      width: 100%;
      height: 100%;
    }
  
    #cadastro{
      width: 100%;
      height: auto;
      font-size: 50%;
      text-align: center;
      border-radius: 10px;
    }

  }

  @media screen and (max-width: 900px) {
 

    mat-toolbar {
      height:250px;
      align-items: none;
     
    }

    mat-toolbar-row{
        font-size: 1.5rem;
        width: 300px;
        flex-wrap: wrap-reverse;
        align-items: none;
        margin-bottom: 1%; 
        
      }

    

      #cadastro{
        width: 150px;
        height: auto;
        font-size: 50%;
        text-align: center;
        border-radius: 10px;
      }
  
    }

    @media screen and (max-width: 599px) {
 

      mat-toolbar {
        height:200px;
        padding: 20%;

      }
  
      mat-toolbar-row{
          font-size: 1.5rem;
          width: 150px;
     
        }

        mat-toolbar-row #logo2 {
          width: 110px;
          flex-direction: row-reverse;
        }

        .mat-icon-button  {
          width: 0;
        }

  
        #cadastro{
          width: 135px;
          height: auto;
          font-size: 50%;
          text-align: center;
          border-radius: 10px;
        }

        
    
      }
