<!--Cabeçalho-->
<header id="topo">
  <mat-toolbar class="toolbar-acess">
    <div fxLayout="row" id="Acessibilidade_header" >
      <span><button mat-menu-item routerLink="/acessibilidade">Acessibilidade</button></span>
      <span><button mat-menu-item (click)="toogle()">{{nome}}</button></span>
      <span><button mat-menu-item (click)="setFontSize('a-')">A-</button></span>
      <span><button mat-menu-item (click)="setFontSize('a')">A</button></span>
      <span><button mat-menu-item (click)="setFontSize('a+')">A+</button></span>
    </div>
    <mat-toolbar-row>

      <div class="logo-box">
        <a routerLink="/home"><img mat-card-image id="logo" src="assets/img/Branco.png"></a>
        <span class="example-spacer"></span>
      </div>

      <div class="grupo_botao">
          <span mat-menu-item class="lista"><a routerLink="/voluntarios" id="cadastro">Voluntarios</a></span>
          <span mat-menu-item class="lista"><a routerLink="/funcionario/list" id="cadastro">Funcionarios</a></span>
          <span mat-menu-item class="lista"><a routerLink="/desaparecidos" id="cadastro">Desaparecidos</a></span>
      </div>

      <div class="grupo_botao">
        <span><a routerLink="/blogs" id="cadastro" mat-raised-button>Blog</a></span>
        <span><a routerLink="/voluntarios/adicionar" id="cadastro" mat-raised-button>Cadastre-se</a></span>
      </div>



      <div class="logo-box2">
        <a routerLink="/home"><img mat-card-image id="logo2" src="assets/img/Branco.png"></a>
      </div>

      <div class="menu-hamb-container">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu" id="menu">
          <ng-container>
            <span mat-menu-item><a routerLink="/blogs" id="cadastro" mat-raised-button>Blog</a></span>
            <span mat-menu-item><a routerLink="/voluntarios/adicionar" id="cadastro"
                mat-raised-button>Cadastre-se</a></span>
          </ng-container>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>