*{
  color:var(--continuos-white);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Primeira Grid*/

.Fundo_bg{
  height: 930px;
  background-image: url("../../../assets/img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply; /* Modo de blend para escurecer */
  background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo que escurece a imagem */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main{
  width: 70%;
}

.container-callAction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-title{
  padding: 10px;
}

.box-title h1{
  font-size: 4rem;
  font-weight: 650;
  margin: 0px;
}

.container-callToAction p{
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 650;
  padding-top: 2%;
  color: var(--continuos-white);
  font-weight: bold;
}


.botao .mat-flat-button {
  color: var(--continuos-white);
  background-color: transparent;
  border: var(--primary) solid 0.1rem;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px;
  transition: 400ms;
  outline: none;
}

.botao .mat-flat-button:hover{
  background-color: var(--primary);
  color: var(--continuos-white);
  text-decoration: none;
}

/*FIM PRIMEIRA GRID*/


/*QUEM SOMOS*/

.section-quemSomos{
  height: 930px;
  padding: 70px 0;
  background-color: #Ececeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-quemSomos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.container-quemSomos h2{
  color: var(--dark);
  width: max-content;
  font-size: 3.7rem;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.container-quemSomos p{
  color: var(--dark);
  font-size: 1.1rem;
  line-height: 2;

}

/*FIM QUEM SOMOS*/


/*Doações*/

.Fundo_verde{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 930px;
  width: 100%;
  background-color: #010d01;
  padding-top: 6% ;
  padding-bottom: 6%;
}

.help-title{
  font-size: 4rem;
  padding: 8px;
  padding: 10px;
}

.help-box{
  padding-top: 35px;
  width: 100%;
}

.box-help{
  display: flex;
  justify-content: center;
}

.box-help .box-doar, .box-voluntario{
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 570px;
  padding: 25px 55px;
}

.box-help .box-doar h3, .box-voluntario h3{
  font-size: 2rem;
  margin-bottom: 20px;
}

.box-help .box-doar div, .box-voluntario div{
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.3;
}

.btn{
  font-size: 1.3rem;
  padding: 3px;
  background-color: transparent;
  border: var(--primary) solid 0.1rem;
}

.btn:hover{
  outline: none;
  background-color: var(--primary);
  color: var(--continuos-white);
  text-decoration: none;
}

/*Fim Doações*/

.Fundo_branco{
  padding-top: 2%;
  color: var(--back);
  background-color: var(--white);
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 1%;
}


.Fundo_branco h2{
  font-weight:bold;
  color: var(--dark);
}

.Fundo_branco a{
  color: black;
}

#mais{
  border:none;
  font-weight: bold;
  margin-top: -2%;
}

.mat-card:first-of-type{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  margin: 10% 0 20% 0;
  width: 40%;
  padding: 2%;
}

.mat-card-subtitle:first-of-type{
  text-align: center;
}

.example-card {
  height: 25%;
  margin-left:5%;
  margin-right: 5%;
  background-color: var(--white);
  margin-bottom:6%;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);

}

.example-card img{
  height: 400px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 5px;
}

.card-desaparecido{
    border-radius: 5%;
}

mat-card-content{
  border-bottom-style: solid;
  border-bottom-color: var(--primary);
}

.mat-card>:first-child{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-title:first-of-type{
  color: var(--continuos-white);
}

.mat-card-title{
  color: var(--dark);
}
  .example-header-image {
    background-size: cover;
  }

  .Fundo_branco h2{
    color: var(--dark);
    padding-left: 2%;
  }

  /*Responsividade*/
  @media screen and (max-width: 376px) {
    .example-card img{
      height: 120px;
      margin-top: 1px;
      margin-bottom: 5px;
        }

    .Fundo_bg h1{
      padding-top: 2%;
      color: var(--continuos-white);
      font-size:2em;
      font-weight: bold;
    }

    .Fundo_bg #voluntario{
      width: 45%;
      font-size: 1em;
    }

    .Fundo_verde h2{
      font-size: 1.5em;
    }
  }

  @media screen and (max-width: 599px) {
  .Fundo_bg h1:first-of-type{
    line-height: 4rem;
  }
  }

@media screen and (min-width: 600px) {
  .Fundo_bg{
  background-image: url("../../../assets/img/bg.jpg");
  text-align: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #707070;
}

.Fundo_bg h1{
  padding-top: 2%;
  color: var(--continuos-white);
  font-weight: bold;
  font-size: 2rem;
}

.Fundo_bg h3{
  padding-top: 2%;
  color: var(--continuos-white);
  font-size: 14px;
  font-weight: light;
}


}

@media screen and (min-width: 600px) and (max-width: 768px){
  .example-card img{
    height: 400px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .example-card {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  .example-card img{
    height: 200px;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .Fundo_verde h2{
    font-size: 3em;
  }
  }

  @media screen and (min-width: 1280px) {
    .Fundo_branco{
      height: 10%;
    }
    .example-card img{
      height: 300px;
    }

    .Fundo_bg h3{
      font-size: 1.5rem;
    }

    }

    @media screen and (min-width: 1440px) {
      .example-card img{
        height: 400px;

      }

      }
