*{
  color:var(--continuos-white);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
}

#voluntario{
  margin-top: 1%;
  font-size: 20px;
  padding: 1%;
}

.doar{
  width: 6%;
}

.Fundo_verde{
  text-align: center;
  align-items: center;
  background-color: var(--primary);
  padding-bottom: 4%;
}

.Fundo_bg{
  text-align: center;
  align-items: center;
  background-image: url("../../../assets/img/bg.jpg");
  padding-bottom: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.Fundo_bg h1{
  padding-top: 2%;
  color: var(--continuos-white);
  font-size: 4rem;
  font-weight: bold;
}

.Fundo_bg h3{
  padding-top: 2%;
  color: var(--continuos-white);
  font-size: 1rem;
  width: 90%;
  font-weight: light;
}

.Fundo_verde h2{
  padding-top: 2%;
  color: var(--continuos-white);
}

.Fundo_branco{
  padding-top: 2%;
  color: var(--back);
  background-color: var(--white);
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 1%;
}


.Fundo_branco h2{
  font-weight:bold;
}

.Fundo_branco a{
  color: black;
}

#mais{
  border:none;
  font-weight: bold;
  margin-top: -2%;
}

.example-card {
  height: 25%;
  margin-left:5%;
  margin-right: 5%;
  background-color: var(--primary);
  margin-bottom:6%;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);

}

.example-card img{
  height: 200px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 5px;
}

.mat-card{
    border-radius: 5%;
}

mat-card-content{
  border-bottom-style: solid;
  border-bottom-color: var(--white);
}

.mat-card>:first-child{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .example-header-image {
    background-size: cover;
  }

  #voluntario, #Cadastrar{
    background-color: var(--continuos-white);
    border:none;
    color: var(--primary);
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  }
  .Fundo_branco h2{
    color: var(--primary);
    padding-left: 2%;
  }

  /*Responsividade*/
  @media screen and (max-width: 376px) {
    .example-card img{
      height: 120px;
      margin-top: 1px;
      margin-bottom: 5px;
        }

    .Fundo_bg h1{
      padding-top: 2%;
      color: var(--continuos-white);
      font-size:2em;
      font-weight: bold;
    }

    .Fundo_bg #voluntario{
      width: 45%;
      font-size: 1em;
    }

    .Fundo_verde h2{
      font-size: 1.5em;
    }
  }

  @media screen and (max-width: 599px) {
  .Fundo_bg h1:first-of-type{
    line-height: 4rem;
  }
  }

@media screen and (min-width: 600px) {
  .Fundo_bg{
  text-align: center;
  align-items: center;
  background-image: url("../../../assets/img/bg.jpg");
  padding-bottom: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.Fundo_bg h1{
  padding-top: 2%;
  color: var(--continuos-white);
  font-weight: bold;
  font-size: 2rem;
}

.Fundo_bg h3{
  padding-top: 2%;
  color: var(--continuos-white);
  font-size: 14px;
  font-weight: light;
}
#voluntario{
  margin-top: 1%;
  font-size: 15px;
  padding: 1%;
}
}

@media screen and (min-width: 600px) and (max-width: 768px){
  .example-card img{
    height: 400px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .example-card {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

  .example-card img{
    height: 200px;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .Fundo_verde h2{
    font-size: 3em;
  }
  }

  @media screen and (min-width: 1280px) {
    .Fundo_branco{
      height: 10%;
    }
    .example-card img{
      height: 200px;
    }

    .Fundo_bg h3{
      font-size: calc(18px + 30%);
    }

    }

    @media screen and (min-width: 1440px) {
      .example-card img{
        height: 200px;

      }

      }

