
<section>
  <!--Primeira Grid-->
  <div class="Fundo_bg" id="main-fundo">
    <div class="container-main">
      <div class="container-callToAction">
        <div class="box-title">
          <h1>183 pessoas desaparecem a cada 24 horas no Brasil</h1>
        </div>
        <p>No Brasil, uma pessoa desaparece a cada 3 minutos. São mais de 200 mil desaparecidos por ano.
          Nós ajude a trazer esperança para as famílias que estão em busca dessas pessoas.</p>
      </div>
      <span class="botao"><a href="#campos-ajuda"><button id="voluntario" mat-flat-button>COMO
            AJUDAR</button></a></span>
    </div>
  </div>
  <!--Fim Primeira Grid-->

  <!--Quem Somos-->

  <div class="section-quemSomos" id="sobre">
    <div class="container-quemSomos">
      <h2>SOBRE NÓS</h2>
      <p>O sistema RADAR proverá a divulgação de pessoas desaparecidas e cadastrar voluntários. Esses voluntários irão
        receber mensagens a respeito de desaparecimentos próximos da região de onde ele mora e na página onde será
        divulgado
        os desaparecidos haverá além dos detalhes sobre a criança, adolescente ou adulto desaparecido; quem o voluntario
        deve contatar para reportar novas informações. Será integrado back-end ao sistema junto com um banco de dados
        com
        as informações necessárias para entrar nas conformidades do projeto</p>
    </div>
  </div>


  <!--Fim Quem Somos-->

  <!--Doacoes-->
  <div class="Fundo_verde" id="campos-ajuda">
    <h2 class="help-title">COMO AJUDAR</h2>

    <article class="help-box">
      <div class="box-help">
        <div class="box-doar">
          <h3>Doe Qualquer Valor</h3>
          <div>
            <p>O ato de doar contribui para a transformação da sociedade e principalmente das pessoas. Quem doa,
              beneficia a si próprio. </p>
          </div>
          <span>
            <button routerLink="/doacao" id="doador" class="btn" mat-raised-button>Doar</button>
          </span>
        </div>



        <div class="box-voluntario">
          <h3>Vire um voluntario</h3>
          <div>
            <p>Torne-se um voluntario para receber notificações de desaparecidos avistados próximos a sua região.</p>
          </div>
          <span>
            <button routerLink="/voluntarios/adicionar" id="voluntario" class="btn" mat-raised-button>Quero me
              voluntariar</button>
          </span>
        </div>
      </div>
    </article>

  </div>
  <!--Fim Doacoes-->

  <!--Segunda Grid-->
  <div class="Fundo_branco" id="desaparecidos">

    <div class="Fundo_branco">
      <h2>Desaparecidos</h2>
    </div>

    <!--Cards-->
    <div class="Fundo_branco">
      <div class="container-img">
        <div *ngFor="let desaparecido of desaparecidos | slice:0:3">
          <mat-card class="example-card card-desaparecido">
            <mat-card-content>
              <img mat-card-image src="{{desaparecido.fotos}}">
            </mat-card-content>
            <mat-card-title style="font-size: 1rem">{{desaparecido.dataDesaparecimento}}</mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="Fundo_branco" fxLayout="column" fxLayoutAlign="center center">
      <p style="font-size: 1rem" id="mais"><a routerLink="/desaparecidos">Ver Mais</a></p>
    </div>
  </div>

  <!--FIM SEGUNDO GRID-->

  <!--ENTRE EM CONTATO-->

  <div class="section-contato" id="contato">
    <div class="container-contato">
      <h2>CONTATO</h2>

      <div class="box-contatos">
        <span>Entre em contato conosco por telefone, e-mail ou mande uma mensagem pelo formulário abaixo.</span>
        <ul class="list-contatos">
          <li><mat-icon>call</mat-icon><a>11 1111 1111</a></li>
          <li><mat-icon>smartphone</mat-icon><i></i>11 99999 9999</li>
          <li><mat-icon>mail</mat-icon>radar@gmail.com</li>
        </ul>
      </div>

      <div class="forms-contato">
        <form class="forms">
          <mat-form-field class="box-input">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field>

          <mat-form-field class="box-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="seuEmail@gmail.com">
          </mat-form-field>

          <mat-form-field class="box-input">
            <mat-label>Mensagem</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>

          <div class="btn-contato">
            <button>ENVIAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>



</section>

  <!--FIM ENTRE EM CONTATO-->