<section>
  <!--Primeira Grid-->
  <div class="Fundo_bg">
    <div class="container-main">
      <div class="container-callToAction">
        <div class="box-title">
          <h1>183 pessoas desaparecem a cada 24 horas no Brasil</h1>
        </div>
        <p>No Brasil, uma pessoa desaparece a cada 3 minutos. São mais de 200 mil desaparecidos por ano.
          Nós ajude a trazer esperança para as famílias que estão em busca dessas pessoas.</p>
      </div>
      <span class="botao"><a href="#campos-ajuda"><button id="voluntario" mat-flat-button>COMO AJUDAR</button></a></span>
    </div>
  </div>
  <!--Fim Primeira Grid-->

  <!--Quem Somos-->

  <div class="section-quemSomos">
    <div class="container-quemSomos">
      <h2>SOBRE NÓS</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium recusandae cupiditate quibusdam aliquam vero, maxime repellat quidem, aut sed ut quisquam, accusamus iste dolorem ratione unde soluta illum fugiat?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium recusandae cupiditate quibusdam aliquam vero, maxime repellat quidem, aut sed ut quisquam, accusamus iste dolorem ratione unde soluta illum fugiat?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium recusandae cupiditate quibusdam aliquam vero, maxime repellat quidem, aut sed ut quisquam, accusamus iste dolorem ratione unde soluta illum fugiat?</p>
    </div>
  </div>
  

  <!--Fim Quem Somos-->

  <!--Doacoes-->
  <div class="Fundo_verde"  id="campos-ajuda">
    <h2 class="help-title">COMO AJUDAR</h2>

    <article class="help-box">
      <div class="box-help">
        <div class="box-doar">
          <h3>Doe Qualquer Valor</h3>
          <div>
            <p>O ato de doar contribui para a transformação da sociedade e principalmente das pessoas. Quem doa, beneficia a si próprio. </p>
          </div>
          <span>
            <button routerLink="/doacao" id="doador" class="btn" mat-raised-button>Doar</button>
          </span>
        </div>
    

      
        <div class="box-voluntario">
          <h3>Vire um voluntario</h3>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure inventore iusto reprehenderit, perspiciatis accusamus commodi dicta ducimus voluptas repellendus corrupti eaque natus reiciendis, id quod, eveniet debitis praesentium nisi quisquam.</p>
          </div>
          <span>
            <button routerLink="/voluntarios/adicionar" id="voluntario" class="btn" mat-raised-button>Quero me voluntariar</button>
          </span>
        </div>
      </div>
    </article>
    
  </div>
  <!--Fim Doacoes-->

  <!--Segunda Grid-->
  <div class="Fundo_branco">

    <div class="Fundo_branco" fxLayout="column" fxLayoutAlign="start start">
      <h2 style="font-size: 2rem">Desaparecidos</h2>
    </div>

    <!--Cards-->
    <div class="Fundo_branco">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let desaparecido of desaparecidos | slice:0:3">
          <mat-card fxLayout="column" fxLayoutAlign="center center" class="example-card card-desaparecido">
            <mat-card-content>
              <img mat-card-image src="">
            </mat-card-content>
            <mat-card-title style="font-size: 1rem">{{desaparecido.dataDesaparecimento}}</mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="Fundo_branco" fxLayout="column" fxLayoutAlign="center center">
      <p style="font-size: 1rem" id="mais"><a routerLink="/desaparecidos">Ver Mais</a></p>
    </div>
  </div>

  <!--FIM SEGUNDO GRID-->

  <!--ENTRE EM CONTATO-->

  <div class="section-contato">
    <div class="container-contato">
      <h2>CONTATO</h2>
      
      <div class="box-contatos">
        <span>Entre em contato conosco por telefone, e-mail ou mande uma mensagem pelo formulário abaixo.</span>
        <ul class="list-contatos">
          <li><i class="fa-solid fa-phone"></i>11 1111 1111</li>
          <li><i></i>11 99999 9999</li>
          <li><i></i>radar@gmail.com</li>
        </ul>
      </div>

      <div class="forms-contato">
        <form class="forms">
          <mat-form-field class="box-input">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field>

          <mat-form-field class="box-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="seuEmail@gmail.com">
          </mat-form-field>
        
          <mat-form-field class="box-input">
            <mat-label>Mensagem</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
          
          <div class="btn-contato">
            <button>Enviar</button>
          </div>
        </form>
    </div>
  </div>

  <!--FIM ENTRE EM CONTATO-->

