<div class="card bgLight mb-5 pb-5">
  <div class="container py-5">
      <div class="card-body">


          <div class="text-center mx-auto maxW400">
              <h1 class="display-3">Area do Funcionario</h1>
              <hr>
          </div>

          <form class="row g-3 mx-auto mt-2 maxW400">

              <div class="col-12">
                  <label class="form-label">Email</label>
                  <input type="email" required  name="email" class="form-control">
              </div>

              <div class="col-12">
                  <label class="form-label">Senha</label>
                  <input type="password"  required  name="password" class="form-control">
              </div>

              <div class="col-6">
                <a id="login" href="https://management.netlify.com">Logar</a>
              </div>
            </form>
        </div>
  </div>
</div>
