<div class="card bgLight pb-5">
  <div class="container py-5">
    <div class="card-body">
      <div class="text-center mx-auto">
        <h1 class="display-3">Área do Funcionario</h1>
      </div>

      <form class="row g-3 mx-auto mt-2 maxW400">
        <div class="col-12">
          <label class="form-label">Email</label>
          <input type="email" required name="email" class="form-control" />
        </div>

        <div class="col-12">
          <label class="form-label">Senha</label>
          <input
            type="password"
            required
            name="password"
            class="form-control"
          />
        </div>

        <div class="col-6">
          <button
            class="logar"
            type="submit"
            style="font-size: 1.5rem"
            id="Cadastrar"
            mat-raised-button
          >
            <a id="login" href="https://radar-management.netlify.app/">Logar</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
