*{
    color:#FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

//Footer/Rodapé
.footer{
    background-color:#010d01;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    position: static;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
  }

  #redes_sociais span .icone{
    margin: 0;
    padding: 0;
    width: 80%;
  }

  footer span .icone{
    margin: 0;
    padding: 0;
    width: 100%;
  }

  footer span {
        margin: 0;
        padding:0;
        width: 20%;
    }

  #redes_sociais{
    width: 20%;
  }

//-------------------------------//
