 <!--Rodapé-->
 <footer class="footer"  fxLayout="row" fxLayoutAlign="space-between center" #footer><span><img mat-card-image class="logo" src="../../../assets/img/Branco.png" alt="Photo of a Shiba Inu"></span>
    <p>São Paulo, Brasil</p>
      <div  fxLayout="row" fxLayoutAlign="center center" id="redes_sociais">
        <span><img mat-card-image class="icone" src="../../../assets/img/email.png" alt="Photo of a Shiba Inu"></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/whatsapp.png" alt="Photo of a Shiba Inu"></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/insta.png" alt="Photo of a Shiba Inu"></span>
        <span> <img mat-card-image class="icone" src="../../../assets/img/Facebook.png" alt="Photo of a Shiba Inu"></span>
        <span><img mat-card-image class="icone" src="../../../assets/img/youtube.png" alt="Photo of a Shiba Inu"></span></div>
  </footer>
