<div class="componente" >

  <app-menu-vertical></app-menu-vertical>
  
  <div class="panel-body">
    <h1>Lista de Desaparecidos cadastrados</h1>

    <div class="btns" style="display: flex; gap: 15px;">
      <button id="btn_adicionar" (click)="addDesaparecido()">Adicionar</button>
    </div>

    <table mat-table [dataSource]="desaparecidos" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let desaparecido"> {{desaparecido.nomeDesaparecido}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let desaparecido"> {{desaparecido.sobrenomeDesaparecido}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let desaparecido"> {{desaparecido.CPF}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let desaparecido">
          <div class="buttons">
            <button mat-flat-button color="warn" (click)="deletarDesaparecido(desaparecido.id)" >
              Excluir
            </button>
            <button mat-flat-button color="primary" (click)="atualizarDesaparecido(desaparecido.id)">
              Atualizar
            </button>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
</div>

