<section>

    <!--Segunda Grid-->
      <div class="Fundo_branco" fxLayout="column" fxLayoutAlign="center center" >
          <h1 style="font-size: 3rem">Desaparecidos</h1>
        </div>

    <!--Cards-->
        <div class="Fundo_branco" >
          <button (click)="addDesaparecido()">Adicionar</button>
          <div fxLayout="row wrap" fxLayoutAlign="center center" >
            
            <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let desaparecido of desaparecidos | async">
              <mat-card (click)="detailDesaparecido(desaparecido.id)" fxLayout="column" fxLayoutAlign="center center" class="example-card">
                <mat-card-content>
                  <!-- <img mat-card-image src={{desaparecido.urlFotoPrincipal}} alt="{{desaparecido.altTxtFotoPrincipal}}"> -->
                </mat-card-content>
                <mat-card-title style="font-size: 1rem">{{desaparecido.nomeDesaparecido}} {{desaparecido.sobrenomeDesaparecido}}</mat-card-title>
                <mat-card-actions>
                  <button (click)="atualizarDesaparecido(desaparecido.id)">Atualizar</button>
                  <button (click)="deletarDesaparecido(desaparecido.id)">Deletar</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
</section>

