* {
  color: var(--back);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

#voluntario {
  margin-top: 1%;
  font-size: 20px;
  padding: 1%;
}

.Fundo_cinza {
  text-align: center;
  align-items: center;
  background-color: var(--secondary);
  padding-bottom: 4%;
}

.Fundo_verde {
  padding-top: 2%;
  color: var(--white);
  background-color: var(--white);
  padding-bottom: 1%;
}

.Fundo_verde h1 {
  font-size: 3rem;
  margin-left: 10px;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.bx-aces {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid 2px #fff;
  align-self: center;
}

.Fundo_verde p {
  font-size: 1.2rem;
}
#mais {
  border: none;
  color: var(--back);
  background-color: var(--tertiary);
  font-weight: bold;
}

.example-card {
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--primary);
  margin-bottom: 6%;
  height: 25%;
}

mat-card-content {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
}

.example-header-image {
  background-size: cover;
}
#voluntario,
#Cadastrar {
  background-color: var(--primary);
  border: none;
  color: var(--white);
}
.Fundo_verde h2 {
  padding-left: 2%;
}
