<main class="Fundo_verde" fxLayout="column">
  <h1 style="font-size: 4rem">ACESSIBILIDADE</h1>
  <p style="font-size: 1rem">Este site foi desenvolvido para que pessoas com deficiência visual, baixa visão, daltonismo, deficiência auditiva e mobilidade reduzida possam navegar por meio de recursos como alto contraste, aumento de fonte, teclas de atalho, tradução para a Língua Brasileira de Sinais e navegação por teclado.</p>

		<p style="font-size: 1rem">Para aumentar a fonte, é só clicar no símbolo de A+ em nossa barra de acessibilidade. Caso queira voltar ao tamanho de fonte original, é só clicar em A-.</p>

		<p style="font-size: 1rem">Se for necessário, você também pode usar o zoom nativo do seu navegador, pressionando as teclas “Ctrl” e “+” para aumentar todo o site e “Ctrl” e “-“ para diminuir. Para voltar ao padrão, pressione “Ctrl” e “0”.</p>

		<p style="font-size: 1rem">Este site tem melhor acessibilidade quando acessado nas versões mais atualizadas do seu navegador web. Utilize sempre a versão mais recente de seu software.</p>

		<p style="font-size: 1rem">Navegação por tabulação</p>
		<p style="font-size: 1rem">Use a tecla Tab para navegar por elementos que recebem ação do usuário no site, tais como links, botões, campos de formulário e outros na ordem em que eles são apresentados na página, e Shift + Tab para retornar. Use as setas direcionais para acessar as informações textuais.</p>

		<p style="font-size: 1rem">Sugestões de programas disponíveis para pessoas com deficiência</p>
		<p style="font-size: 1rem">- Nitrous Voice Flux: controla o computador por voz. Gratuito;</p>
		<p style="font-size: 1rem">- NVDA: software livre para ler tela – vários idiomas (Windows);</p>
		<p style="font-size: 1rem">- YeoSoft Text: leitor de tela em inglês e português;</p>
		<p style="font-size: 1rem">- Jaws for Windows: leitor de tela – vários idiomas;</p>
		<p style="font-size: 1rem">- Virtual Vision: leitor de telas em português do Brasil;</p>
		<p style="font-size: 1rem">- DOSVOX: sistema para deficientes visuais (Windows ou Linux).</p>
		<p style="font-size: 1rem">- Talckback: leitor de tela disponível em smartphones Android.</p>
	<p style="font-size: 1rem">Observação: leia no manual do leitor de telas sobre a melhor forma de navegação em páginas web.</p><br>

		<p style="font-size: 1rem">LIBRAS - Língua Brasileira de Sinais</p>
		<p style="font-size: 1rem">Este site é acessível em LIBRAS através do <a href="http://www.vlibras.gov.br/" target="_blank">VLibras</a>.</p>
		<p style="font-size: 1rem">-Do lado direito de cada página do site existe o ícone de um Widget informando que o site é acessível em LIBRAS.</p>
		<p style="font-size: 1rem">-Para traduzir, basta clicar sobre o ícone e selecionar o texto que deseja traduzir.</p>
</main>
