* {
  color: var(--back);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

#voluntario {
  margin-top: 1%;
  font-size: 20px;
  padding: 1%;
}

.Fundo_cinza {
  text-align: center;
  align-items: center;
  background-color: var(--secondary);
  padding-bottom: 4%;
}

.Fundo_branco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  color: var(--white);
  background-color: var(--white);
  padding-bottom: 1%;
}

.Fundo_branco h1 {
  font-size: 2rem;
  text-align: center;
  padding: 8px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 15px 15px 0 0;;
  width:100% ;
  align-self: center;
  margin: 0;
}

.bx-aces {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 70%);
  width: 70%;
}

.text {
  padding: 8px 15px 15px 15px;
}


.Fundo_branco p {
  font-size: 1.2rem;
}
#mais {
  border: none;
  color: var(--back);
  background-color: var(--tertiary);
  font-weight: bold;
}

.example-card {
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--primary);
  margin-bottom: 6%;
  height: 25%;
}

mat-card-content {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
}

.example-header-image {
  background-size: cover;
}
#voluntario,
#Cadastrar {
  background-color: var(--primary);
  border: none;
  color: var(--white);
}
.Fundo_branco h2 {
  padding-left: 2%;
}
