<section>

  <!--Segunda Grid-->
    <div class="Fundo_branco" fxLayout="column" fxLayoutAlign="center center" >
        <h1 style="font-size: 3rem">Voluntários</h1>
      </div>

  <!--Cards-->
      <div class="Fundo_branco" >
        <button (click)="addVoluntario()">Adicionar</button>
        <div fxLayout="row wrap" fxLayoutAlign="center center" >
          
          <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let voluntario of voluntarios | async">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="example-card">
              <mat-card-title style="font-size: 1rem">{{voluntario.name}} {{voluntario.lastname}}</mat-card-title>
              <mat-card-actions>
                <button (click)="atualizar(voluntario.id)">Atualizar</button>
                <button (click)="deletar(voluntario.id)">Deletar</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
</section>

