<div class="componente" >
  <h1>Lista de Voluntarios cadastrados</h1>
  <div class="panel-body">
    <button id="btn_adicionar" (click)="addVoluntario()">Adicionar</button>
    <table mat-table [dataSource]="voluntarios" class="mat-elevation-z8">
      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let voluntario"> {{voluntario.nome}} </td>
      </ng-container>
    
  
      <ng-container matColumnDef="Sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let voluntario"> {{voluntario.Sobrenome}} </td>
      </ng-container>
    

      <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let voluntario"> {{voluntario.CPF}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let voluntario">
          <div class="buttons">
            <button mat-flat-button color="warn">
              Excluir
            </button>
            <button mat-flat-button color="primary">
              Atualizar
            </button>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
</div>
