* {
  color: var(--continuos-white);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

#voluntario {
  margin-top: 1%;
  font-size: 20px;
  padding: 1%;
}

.Fundo_cinza {
  text-align: center;
  align-items: center;
  background-color: var(--secondary);
  padding-bottom: 4%;
}

.Fundo_verde {
  color: var(--white);
  background-color: var(--white);
  align-items: center;
  width: 100%;
  height: 800px;
}

.mesangem-container {
  box-shadow: 0 10px 25px rgb(0 0 0 / 70%);
  height: 300px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.msg-sucess {
  background-color: var(--primary);
  text-align: center;
  font-size: 2rem;
  padding: 8px;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 10px 8px;
  margin: auto 0;
}

#mais {
  border: none;
  color: var(--back);
  background-color: var(--tertiary);
  font-weight: bold;
}

mat-card-content {
  border-bottom-style: solid;
  border-bottom-color: var(--white);
}

.example-header-image {
  background-size: cover;
}
#voluntario,
#Cadastrar {
  background-color: var(--primary);
  border: none;
  color: var(--white);
}
.Fundo_verde h2 {
  padding-left: 2%;
}
