* {
  color: #000;
  /*background-color: #010d01;*/
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-forms {
  width: max-content;
  padding: 10px;
}

.container-forms .radar{
  text-align: center;
  width: 100%;
  font-size: 80px;
}

.container-forms h1 {
  font-size: 2rem;
  color: #000;
  background-color: #fff;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 10px;
}

.campo span{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.campo mat-icon{
  padding: 0 15px 0 15px;
  font-size: 25px;
}

.senha{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.senha .campo-form{
  width: 200px;
  display: flex;
}

.form-group {
  font-size: 1rem;
  padding: 0 15px 0 15px;
}

.campo-form {
  width: 400px;
}

.box-btn:hover {
  opacity: 0.8;
}

#Cadastrar {
  background-color: var(--primary);
  font-size: 1.3rem;
  color: var(--white);
  width: 400px;
  padding: 4px;
  border-radius: 8px;
}

#Cadastrar:hover {
  text-decoration: none;
}

#forgot {
  padding: 0 15px 0 15px;
  margin-top: 12px;
  font-size: 1.1rem;
  color: #3a3ae1;
}

.box-chamada {
  padding: 16px 16px;
  text-align: center;
  border: 1px solid #30363d;
  border-radius: 6px;
  margin: 20px 0px 0px 0px;
}

.box-chamada p {
  margin: 0px;
  font-weight: 400;
  font-size: 1.2rem;
}

.box-chamada a {
  color: #3a3ae1;
}

mat-form-field+mat-form-field {
  margin-left: 2%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #000;
}

/*Responsividade*/

@media screen and (max-width: 1400px) {
  .campo-form {
    width: 220px;
  }
}

@media screen and (max-width: 900px) {
  form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
  }

  h1 {
    text-align: center;
    justify-content: center;
    line-height: 3rem;
  }

  #formulario {
    display: flex;
    margin: 0;
    width: 90%;
  }

  mat-form-field+mat-form-field {
    margin-left: 0;
  }
}

@media screen and (max-width: 610px) {
  .campo-form {
    width: 130px;
  }

  .checkbox {
    font-size: 0.7rem;
  }
}
