*{
    color:var(--continuos-white);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

    .example-icon {
      padding: 0 14px;
    }
    .example-spacer {
      flex: 1 1 auto;
  }

  mat-toolbar-row{
    font-size: 1.5rem;
    height: 80px;
  }

  mat-toolbar-row .logo{
    padding-top: 8%;
    width: 70%;
  height: auto;
  }

  #cadastro{
    width: 10%;
    height: auto;
    font-size: 70%;
    text-align: center;
    border-radius: 0px;
  }
  mat-toolbar{
      background-color: var(--dark);

  }
  #Acessibilidade_header{
  width: 15%;
  }

   #Cadastrar{
    background-color:  var(--primary);
    border:none;
    color: var(--white);
  }
  #Acessibilidade_header span .icone{
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }
  #mais{
    border:none;
    color: var(--back);
    background-color: var(--secondary);
    font-weight: bold;
  }

  #voluntario, #Cadastrar{
    margin-top: 1%;
    font-size: 20px;
    padding: 1%;
  }

  .Fundo_verde{
    padding-top: 4%;
    color: var(--white);
    background-color: var(--primary);
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }
  .Fundo_verde h1{
    font-size: 30px;
    margin-bottom: 5%;
  }

  #formulario{
    width: 70%;
    margin-left: 10%;
  }

  .Fundo_verde h2{
    font-weight:bold;
  }

  .Fundo_verde input{
    color: var(--tertiary);
    font-size: 150%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 50px;
    text-indent:5%;
  }

  .Fundo_verde input[type=checkbox]{
    margin-right: 0.5%;
    padding: 0;
    height: 12px;
  }

  .Fundo_verde label{
    font-size: 16px;
    margin-right: 2%;
    font-family:Arial, Helvetica, sans-serif;
  }

  .donations-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .donations-list>* {
        flex: 1 1 90px;
        margin-bottom: 1px;
    }

  .donation-item button {
    border: 1px solid var(--back);
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--continuos-white);
    border:none;
    color: var(--primary);
    font-weight: bold;
    
  }

    #redes_sociais span .icone{
      margin: 0;
      padding: 0;
      width: 80%;
    }
    
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: var(--continuos-white);
    }

     /*Responsividade*/
 @media screen and (min-width: 376px) {
  mat-form-field + mat-form-field{
    margin-left: 2%;
    }
    mat-form-field + mat-form-field + mat-form-field{
      margin-left: 0%;
      }
      
      
}

@media screen and (min-width: 880px) {
  mat-form-field + mat-form-field + mat-form-field{
    flex-basis: 40%;
    }  
}

@media screen and (min-width: 900px) {
  mat-form-field + mat-form-field + mat-form-field{
    flex-basis: 0%;
    margin-left: 2%;
  }
 
}
