* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Fundo_verde {
  padding-top: 4%;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 4%;
}

#formulario {
  box-shadow: 0 10px 25px rgb(0 0 0 / 70%);
  border-radius: 15px;
  margin: 0 0 10% 0;
  width: 60%;
}

.titulo {
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px 15px 0 0;
  width: 100%;
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  color: #000;
  padding-left: 5%;
}


.form-group {
  padding: 7px 7px 0 7px;
  font-size: 1.1rem;
  margin: 5px 5px 0 5px;
}

.mat-form-field{
  display: flex;
  align-self: flex-start;
  text-align: start;
  justify-content: center;
  width: 300px;
}


.form-group .control-label {
  color: var(--dark);
  border-color: var(--dark);
}

.form-group input {
  color: var(--dark);
  width: 300px;
}

mat-toolbar-row {
  font-size: 1.5rem;
  height: 80px;
}

mat-toolbar-row .logo {
  padding-top: 8%;
  width: 70%;
  height: auto;
}

mat-toolbar {
  background-color: var(--dark);
}
#Acessibilidade_header {
  width: 15%;
}


#Acessibilidade_header span .icone {
  margin: 0;
  padding: 0;
  width: 60%;
  height: auto;
}

.Fundo_verde h2 {
  font-weight: bold;
}

.titulo2 {
  color: var(--dark);

}

.donations{
  text-align: center;
}

.donations-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  gap: 2%;
  margin: 0 10rem 0 10rem;
}

.donations-list mat-label{
  font-size: 1.1rem;
}


.donations-list button {
  background-color: var(--primary);
    border: none;
    color: var(--white);
    font-size: 1.1rem;
    padding: 10px;
    width: 30%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 15px 0 20px 0;
}

.donation-item button:hover {
  color: var(--continuos-white);
  font-weight: bold;
}

#redes_sociais span .icone {
  margin: 0;
  padding: 0;
  width: 80%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--dark);
}


/*Responsividade*/
@media screen and (max-width: 768px) {
  #formulario .form-container{
    display: flex;
  }

  #formulario {
    box-shadow: 0 10px 25px rgb(0 0 0 / 0%);
    border-radius: 15px;
    width: 100%;
  }
  

  .form-container{
    flex-wrap: wrap;
  }
  
  .form-group{
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }

  .titulo {
    text-align: center;
    background-color: var(--primary);
    border-radius: 0;
    width: 100%;
    padding: 10px;
  }

  .danations-list{
    flex-direction: column;
  }

  .donations-list{
    margin: 0 2rem 0 2rem;
}
}

@media screen and (max-width: 466px) {
  .form-container{
    justify-content: center;
  }

}

@media screen and (max-width: 320px) {
  .form-container{
    justify-content: center;
  }
}

@media screen and (min-width: 880px) {
  mat-form-field + mat-form-field + mat-form-field {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 900px) {
  mat-form-field + mat-form-field + mat-form-field {
    flex-basis: 0%;
    margin-left: 2%;
  }
}
