* {
  color: var(--continuos-white);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*  .example-icon {
      padding: 0 14px;
    }
    .example-spacer {
      flex: 1 1 auto;
  }*/

.Fundo_verde {
  padding-top: 4%;
  color: var(--white);
  background-color: var(--white);
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 4%;
}

#formulario {
  box-shadow: 0 10px 25px rgb(0 0 0 / 70%);
  border-radius: 15px;
  margin: 0 0 10% 0;
  padding: 0 0 2rem 0;
  width: 50rem;
}

.titulo {
  text-align: center;
  background-color: var(--primary);
  border-radius: 15px 15px 0 0;
  width: 100%;
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: start;
  color: #000;
  padding-left: 5%;
}


.form-group {
  padding: 7px 7px 0 7px;
  margin: 5px 5px 0 5px;
}

.mat-form-field{
  width: max-content;
  align-items: start;
  align-self: flex-start;
  text-align: start;
}

.form-group .control-label {
  color: var(--dark);
  border-color: var(--dark);
}

mat-toolbar-row {
  font-size: 1.5rem;
  height: 80px;
}

mat-toolbar-row .logo {
  padding-top: 8%;
  width: 70%;
  height: auto;
}

#cadastro {
  width: 10%;
  height: auto;
  font-size: 70%;
  text-align: center;
  border-radius: 0px;
}
mat-toolbar {
  background-color: var(--dark);
}
#Acessibilidade_header {
  width: 15%;
}


#Acessibilidade_header span .icone {
  margin: 0;
  padding: 0;
  width: 60%;
  height: auto;
}

.Fundo_verde h2 {
  font-weight: bold;
}

.Fundo_verde input {
  color: var(--dark);
  font-size: 1rem;
}

.titulo2 {
  color: var(--dark);
}

.donations{
  text-align: center;
}

.donations-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
  margin: 0 10rem 0 10rem;
}


.donation-item button {
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 10px;
  border-color: var(--primary);
  background-color: var(--continuos-white);
  color: var(--secondary);
  font-weight: bold;
}

.donation-item button:hover {
  background-color: var(--primary);
  color: var(--continuos-white);
  font-weight: bold;
}

#redes_sociais span .icone {
  margin: 0;
  padding: 0;
  width: 80%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--dark);
}


/*Responsividade*/
@media screen and (max-width: 768px) {
  #formulario .form-container{
    display: flex;
    flex-direction: column;
  }

  #formulario {
    box-shadow: 0 10px 25px rgb(0 0 0 / 0%);
    border-radius: 15px;
  }
  
  .form-group{
    margin: 0 20% 0 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  mat-form-field {
    margin-left: 0%;
  }

  .titulo {
    text-align: center;
    background-color: var(--primary);
    border-radius: 0;
    width: 100%;
    padding: 10px;
  }

  .danations-list{
    flex-direction: column;
  }
}

@media screen and (min-width: 880px) {
  mat-form-field + mat-form-field + mat-form-field {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 900px) {
  mat-form-field + mat-form-field + mat-form-field {
    flex-basis: 0%;
    margin-left: 2%;
  }
}
