*{
    color:#FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .example-icon {
      padding: 0 14px;
    }
    .example-spacer {
      flex: 1 1 auto;
  }


  //-------------------------------//
  #voluntario{
    margin-top: 1%;
    font-size: 20px;
    padding: 1%;
    background-color: #7dbf3b;
    border:none;
    color: #FFFFFF;
    margin-left: 540px;
  }

  .Fundo_verde{
    padding-top: 2%;
    color: #FFFFFF;
    background-color: #567339;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 1%;
  }

  .Fundo_verde h1{
    font-size: 60px;

  }

  #mais{
    border:none;
    color: #000000;
    background-color: #567339;
    font-weight: bold;
  }

  #nome_desaparecido{
    text-align: center;
  }

  #foto_principal{
    width: 200px;
    height: 200px;
    margin: 0px 5% 0px 5%;
    shape-outside: circle();
    clip-path: circle();
    background-color: #000000;
  }

  .Fundo_verde p{
    text-align: start;
  }

  #Descricoes{
    list-style-type: none;
    padding-top: 2%;
    font-size: 22px;
  }

  #Descricoes li{
    margin-top:4%;
  }

   .Titulo_Detalhes_desaparecimento{
     margin-top: 4%;
     margin-left: 4%;
   }

   #Detalhes_desaparecimento{
     background-color: #7dbf3b;
     margin: 0% 6% 0% 6%;

   }

   #Detalhes_desaparecimento p{
    vertical-align: middle;
    display: table-cell;
    margin:1%;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
   }
  //-------------------------------//


  // Card das pessoas

  .example-card {
    height: auto;
    background-color: #7dbf3b;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
  }

  .example-header-image {
    background-size: cover;
  }

    .Fundo_verde h2{
      padding-left: 2%;
    }
