<mat-card id="card" class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo ao Radar!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para divulgar crianças e adultos desaparecidos em São Paulo; E cadastrar voluntarios :)
    </mat-card-subtitle>
</mat-card>
<div class="conteiner">
    <div class="item">
        <mat-card id="card" class="home mat-elevation-z3">
            <mat-card-title class="title">
                Desaparecidos
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Relatorios com a quantidade de pessoas que ainda não foram encontradas
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div id="second">
        <mat-card id="card" class="home mat-elevation-z3">
            <mat-card-title class="title">
                Encontrados
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Relatorio com a quantidade de pessoas que já foram encontradas
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
