.container-dashboard {
    display: flex;
    height: 900px;
}


/*lista lateral*/

.dashboard-list {
    background-color: var(--back);
    margin: 10px;
    padding: 2px 1.5rem 1.5rem;
}

.box-logo {
    padding: 10px;
}

.box-logo img {
    height: 85px;
    width: 235px;
}

.titulos {
    text-transform: uppercase;
    font-size: .9rem;
    margin: 0.75rem 0;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    color: #FFF;
}

.box-home {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    color: #FFF;
}

.box-home:hover {
    cursor: pointer;
}

.box-home a {
    color: #FFF;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.list-elements {
    list-style: none;
}


/*Fim lista lateral*/

#card {
    color: var(--continuos-white);
    background-color: var(--primary);
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
    color: var(--back);
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

#second {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .conteiner {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #second {
        margin-top: 10px;
        margin-left: 0px;
    }
    #card {
        width: 350px;
        height: auto;
    }
}