<section>
  <div class="Fundo_verde" fxLayout="column" fxLayoutAlign="center center">
    <h1 style="font-size: 4rem">Obrigado por contribuir!</h1>
    <h3 style="font-size: 1rem">Somos um grupo que busca encontrar crianças, adolescente e adultos desaparecidos</h3>
    <h3 style="font-size: 1rem">E a sua ajuda será muito bem vinda, mas antes vamos analisar o que nos foi enviado</h3>
    <h3 style="font-size: 1rem">para então entrarmos em contato com você!</h3>
    <button style="font-size: 1rem" routerLink="/home" id="voluntario" mat-raised-button>Retornar a pagina principal</button>
  </div>
</section>
