    <!--LISTA VERTICAL-->
    <div class="dashboard-list">

        <div class="box-logo">
            <img src="/assets/img/Branco.png" class="logo">
        </div>

        <h6 class="titulos">Menu</h6>

        <div class="box-home">
            <mat-icon>home</mat-icon>
            <a routerLink="/dashboard">Dashboard</a>
        </div>

        <h6 class="titulos">Tabelas</h6>

        <div class="box-home">
            <mat-icon>badge</mat-icon>
            <a routerLink="/funcionario/list">Funcionarios</a>
        </div>
        <div class="box-home">
            <mat-icon>person_off</mat-icon>
            <a routerLink="/desaparecidos">Desaparecidos</a>
        </div>
        <div class="box-home">
            <mat-icon>person</mat-icon>
            <a routerLink="/voluntarios">voluntarios</a>
        </div>
        <div class="box-home">
            <mat-icon>family_restroom</mat-icon>
            <a routerLink="/familiar/list">Familiares</a>
        </div>

        <h6 class="titulos">dashboard-list</h6>

        <div class="box-home">
            <mat-icon>bar_chart</mat-icon>
            <a routerLink="/grafico">Gráfico</a>
        </div>
    
    </div>
    <!--FIM LISTA VERTICAL-->
