/*lista lateral*/

.dashboard-list {
    background-color: #0f1910;
    padding: 2px 1.5rem 1.5rem;
    height: 960px;
    width: 235px;
}

.box-logo {
    padding: 10px;
}

.logo {
    height: 85px;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 80px;
}

.titulos {
    text-transform: uppercase;
    font-size: .9rem;
    margin: 0.75rem 0;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    color: #FFF;
}

.box-home {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    color: #FFF;
}

.box-home:hover {
    cursor: pointer;
}

.box-home a {
    color: #FFF;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.list-elements {
    list-style: none;
}


/*Fim lista lateral*/
