/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  font-size: 16px;
}

body.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}

body.light-mode {
  background-color: #dfe6e9;
  color: #2d3436;
}

html, body { height: 100%; }
body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons{
    font-family: 'Material Icons' !important;
}
