/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  font-size: 16px;
}


html, body { height: 100%; }
body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons{
    font-family: 'Material Icons' !important;
}

:root {
  --primary: #3bbf4ddc;
  --tertiary: #494949;
  --secondary: #2f8f48;
  --back: #010d01;
  --white:#FFF;
  --dark: #000;
  --gray: #262626;
  --continuos-white: #FFF;
  --color-to-see: #567339;
  --menu: #7dbf3b;
}

:root .contraste{
  --primary: #000;
  --secondary: #000;
  --tertiary: #000;
  --back: #FFF;
  --white: yellow;
  --dark:#000;
  --continuos-white: white;
  --color-to-see: #010d01;
  --menu: yellow;
}
