/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  font-size: 16px;
}


html, body { height: 100%; }
body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background-color: #Ececeb;}

.material-icons{
    font-family: 'Material Icons' !important;
}

:root {
  --primary: #3bbf4ddc;
  --tertiary: #494949;
  --secondary: #0ba835;
  --back: #010d01;
  --white:#FFF;
  --dark: #000;
  --gray: #0f1910;
  --continuos-white: #FFF;
  --color-to-see: #567339;
  --menu: #7dbf3b;
}

:root .contraste{
  --primary: #000;
  --secondary: #000;
  --tertiary: #000;
  --back: #FFF;
  --white: #000;
  --dark:#000;
  --continuos-white: white;
  --color-to-see: #010d01;
  --menu: yellow;
}

/*Formulario*/
.Formulario_padrao {
  padding-top: 4%;
  color: #000;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 4%;
}

.Formulario_padrao h1 {
  font-size: 25px;
  margin-bottom: 5%;
}

.Formulario_padrao h2 {
  font-weight: bold;
}

.Formulario_padrao input {
  color: #000;
  font-size: 150%;
  margin-right: 2%;
  border-color: var(--secondary);
}

.Formulario_padrao input[type="checkbox"] {
  margin-right: 0.5%;
  padding: 0;
  height: 12px;
}

.Formulario_padrao label {
  font-size: 16px;
  margin-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
}